[Unit]
Description=Checks for Tailscale state of the node %i and syncs with tailscale-online@%i.target

[Timer]
OnBootSec=0
OnUnitInactiveSec=10
AccuracySec=1

[Install]
WantedBy=default.target