[Unit]
Description=Checks for Tailscale state and syncs with tailscale-online.target

Requisite=tailscaled.service
After=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tailscale-dispatcher.nu